@model ISkillsMyApp.Models.Customer


@{
    ViewBag.Title = "Online Books Store Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        <div class="Editor-Label">
            @Html.LabelFor(m => m.Email)
        </div>

        <div class="Editor-field">
            @Html.EditorFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="Editor-Label">
            @Html.LabelFor(m => m.Password)
        </div>

        <div class="Editor-field">
            @Html.EditorFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>

    <div>

        <p>
        <input type="submit" value="Sign-in" /> 
        </p>



    </div>

    }
</body>
</html>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



