<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation"> 
        <h1 id="header" class="navbar-text h1">Online Books Store</h1>
        @Html.Action("CartWidget", "ShoppingCart")
    </div>

    <div id="main" class="row panel">
        <div class="col-xs-2 well">
           <ul>
                <li class="btn btn-block btn-default btn-lg">@Html.ActionLink("HomePage","Index","HomePage")</li>
                <li class="btn btn-block btn-default btn-lg">@Html.ActionLink("Shop", "Index", "Shop")</li>
                <li class="btn btn-block btn-default btn-lg">@Html.ActionLink("Cart", "Index", "Cart")</li>
                <li class="btn btn-block btn-default btn-lg">@Html.ActionLink("Login", "Index", "Login")</li>
                <li class="btn btn-block btn-default btn-lg">@Html.ActionLink("Register", "Index", "Register")</li>
            </ul>
        </div>
        <div class="col-xs-9">
        @RenderBody()
        </div>
        </div>
</body>
</html>
