

@model ISkillsMyApp.ViewModels.vmforCat

@{
    ViewBag.Title = "Online Books Store HomePage";
}


<h2>Index</h2>
@using(Html.BeginForm())
{

<text>Categories:</text>
    <br />

    @Html.DropDownList("catlist", new SelectList(Model.Categories, "CategoryID", "CategoryName"), "---Select Category---", new {onchange = "this.form.submit();"})
    <br />

    <input id="btnget" type="submit" name="command" value="Productlist" />



    if(Model.Product!=null)

    {
        <table>
            <tr>
                <th>
                    Image
                </th>
                <th>ProductName</th>
                <th> Description</th>
                <th> Price </th>
                <th> Details </th>
            </tr>

@foreach (var item in Model.Product)
           {
                <tr>
                    <td> @item.Image </td>
                    <td> @item.ProductName</td>
                    <td> @item.Description</td>
                    <td> @item.Price </td>
                    <td> @item.Details </td>
                </tr>
           }
        </table>
    }



    
    }

