@model ISkillsMyApp.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "ISkills Shopping Cart";
}

<h2>Shopping Cart</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Quantity
            </th>


            <th>
                Item
            </th>


            <th class="text-right">
                Price
            </th>


            <th class="text-right">
                Subtotal
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Cart.Items)
        {
            <tr>
                <td class="text-center">
                    @item.Quantity
                </td>
                <td class="text-left">
                    @item.Product.ProductName
                </td>
                <td class="text-right">
                    @item.Product.Price.ToString("c")
                </td>
                <td class="text-right">
                    @((item.Quantity*item.Product.Price).ToString("c"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromcart","ShoppingCart"))
                    {
                        @Html.Hidden("ProductID",item.Product.ProductID)
                        @Html.HiddenFor(x=>x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">
                Total :
            </td>
            <td class="text-right">
                @Model.Cart.GetCartTotal().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-right">
    <a class="btn btn-primary" href="@Model.ReturnUrl">
        Continue Shopping
    </a>
    @Html.ActionLink("Checkout", "ShippingInfo", null, new { @class="btn btn-primary"})
</div>
